<div class="profile-card">
  <h2>My Profile</h2>

  <div class="p-field">
    <label>Email</label>
    <p>{{ user.email }}</p>
  </div>

  <div class="p-field">
    <label>Username</label>
    <p>{{ user.userName }}</p>
  </div>

  <div class="p-field">
    <label>Role</label>
    <p>{{ role }}</p>
  </div>

  <button pButton label="Change Password" icon="pi pi-lock" (click)="openChangePassword()"></button>
</div>

<p-dialog header="Change Password" [(visible)]="showPasswordDialog" [modal]="true" [closable]="true" [style]="{ width: '400px' }">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div class="p-field-pass">
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password" pInputText formControlName="newPassword" />
    </div>

    <div class="p-dialog-footer">
      <button pButton label="Cancel" icon="pi pi-times" (click)="showPasswordDialog = false" type="button"></button>
      <button pButton label="Save" icon="pi pi-check" type="submit" [disabled]="passwordForm.invalid"></button>
    </div>
  </form>
</p-dialog>